<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <h1>회원 가입</h1>
    <hr />
    <form action="/register.do" method="post" name="frm">
      <div class="user">
      	<input type="hidden" name="command" value="register">
        <label for="id" class="form-lable">ID : </label>
        <input type="text" class="form-control" id="id" name="id" required />
      </div>
      <div class="user">
        <label for="pwd" class="form-lable">PASSWORD : </label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          name="pwd"
          required
        />
      </div>
      <div class="user">
        <label for="name" class="form-lable">이름 : </label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="user">
        <label for="addr" class="form-lable">주소 : </label>
        <input
          type="text"
          class="form-control"
          id="addr"
          name="addr"
          required
        />
      </div>
      <input type="submit" class="btn" value="회원가입" />
    </form>
  </body>
</html>
