<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis">

<resultMap type="notice" id="noticeMap">
	<id property="noticeNo" column="notice_no"/>
	<result property="noticeTitle" column="notice_title"/>
	<result property="noticeWriter" column="notice_writer"/>
	<result property="noticeContent" column="notice_content"/>
	<result property="noticeDate" column="notice_date"/>
	<result property="filepath" column="filepath"/>
	<result property="status" column="status"/>
</resultMap>

<select id="selectAllNotice" resultMap="noticeMap">
SELECT *
FROM notice
WHERE status='y'
</select>

</mapper>