<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">
	<!-- resultMap에서 TB_STUDENT, TB_DEPARTMENT id, result - 앞에서 배운 건 여기까지였다면 
		<association property="department" resultMap="departmentMap"/> showStudent -->

	<resultMap type="Student" id="studentMap">
		<id property="studentNO" column="student_no" />
		<result property="studentName" column="student_name" />
		<result property="studentAddr" column="student_address" />
		<association property="department" resultMap="departmentMap" />
	</resultMap>

	<resultMap type="Department" id="departmentMap">
		<id property="departmentNo" column="department_no" />
		<result property="departmentName" column="department_name" />
		<result property="category" column="category" />
	</resultMap>

	<select id="showStudent" parameterType="String"	resultMap="studentMap">
		SELECT STUDENT_NO, STUDENT_NAME, STUDENT_ADDRESS, DEPARTMENT_NAME,
		CATEGORY
		FROM TB_STUDENT
		JOIN TB_DEPARTMENT USING (DEPARTMENT_NO)
		<where>
			<if test="word!=null">
					STUDENT_NO LIKE '%'||#{word}||'%' OR
					STUDENT_NAME LIKE '%'||#{word}||'%' OR
					STUDENT_ADDRESS LIKE '%'||#{word}||'%' OR
					DEPARTMENT_NAME LIKE '%'||#{word}||'%' OR
					CATEGORY LIKE '%'||#{word}||'%'	
			</if>
		</where>
	</select>

</mapper>